body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.inputs{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.buttons{
	display: flex;
	gap: 1rem;
}

.tip p, .total p{
	color: white;
	background-color: rgba(0, 0, 0, 0.438);
	padding: 0.25rem;
	text-align: center;
}

button{
	cursor: pointer;
}

.selected{
	background-color: rgba(238, 255, 0, 0.329);
}